.ttable{
    width: max-content;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(223, 225, 239);
    border: 2px solid black;
    margin-left: 40px;
    

}