.flist{
    height: 300px;
    padding: 0px;
    width: 300px;
    border: 1px solid black;
    margin: 20px 10px;
    background: rgb(240, 170, 73);
   
}
#nameHead{
    font-size: 23px;
    color: rgb(27, 27, 185);
    
    background: rgb(241, 235, 177);
    border-bottom: 1px solid black;
    padding: 20px;
    margin: 0;
}
.infoList{
    list-style-type: none;
    margin: 0px;
    color: whitesmoke;
   
    font-style: italic;
    font-weight: 600;
    padding: 0px;
    width: 250px;
    text-align: left;
    position: relative;
    left: 10px;
    top: 15px;
    
    
}

li {
    font-size: 20px;
    margin-left: 20px;
    

}