
#formContainerT{
  
    background: rgb(226, 234, 247);
    color: black;
    font-size: 22px;
    width: 400px;
    height: 270px;
    border: 1px solid black;
}
.teachForm {
    width: 300px;
   
    position: relative;
    left: 20px;
    top: 25px;
    text-align: left;
}
button{
    height: 40px;
    width: 90px;
    margin-left: 40%;
}
label{
    margin-left: 0;
    padding: 0;
}